.header {
  border-bottom: 1px solid var(--color-black-border);
}
.nav {
  border-right: 1px solid var(--color-black-border);
}
.container {
  max-width: 960px !important;
  margin: 0 auto !important;
}
a {
  padding: 10px;
}
a:hover {
  background-color: var(--color-mint-green-50);
  border-radius: 0.25em;
  color: var(--color-sea-green);
}
.active {
  background-color: #14555a;
  background-color: var(--color-emerald-green);
  border-radius: 0.25em;
  color: #a5e1d2;
  color: var(--color-mint-green);
}
.dnb-info-card {
  background: #f4fbf9 !important;
  font-size: 20px !important;
}
.dnb-info-card--content h3,
.dnb-info-card--content p {
  font-size: 20px !important;
}
.card {
  border-radius: 0.25rem;
  height: 100%;
  padding: 1rem;
  margin: 1rem;
  background: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
}
.a:hover {
  color: var(--color-sea-green) !important;
}
.a {
  color: black !important;
}
